<li>
  <a href="<%- url_for("/archives") %>"
    class="nav-link<%- page.path.match(/(archive|^index\.html$)/) ? ' current' : '' %>"
    >
    ARCHIVE
  </a>
</li>
<%- partial('_partial/note_dropdown') %>
<li>
  <a href="/about" class="nav-link shop">ABOUT</a>
</li>
