<div class="sidebar">
  <div class="sidebar-inner">
    <ul class="main-menu">
      <%- partial('_partial/main_menu') %>
    </ul>
    <% if (page.hasOwnProperty('published')) { %>
      <div class="list" id="toc-list">
        <%- toc(page.content, { list_number: false, class: 'my-toc' }) %>
      </div>
    <% } %>
  </div>
</div>
