<section class="archives-wrap">
  <% site.categories.each(function (category) { %>
    <% if (page.category == null || page.category == category.name) { %>
      <div class="archive-year-wrap">
        <a href="<%- url_for(category.path) %>" class="archive-year">
          <%- category.name %> ( <%- category.length %> )
        </a>
      </div>
      <ul class="archives">
        <% category.posts.sort('date', -1).each(function (post) { %>
        <li class="archive-post">
          <%- partial('_partial/archive-post', { post }) %>
        </li>
        <% }) %>
      </ul>
    <% } %>
  <% }) %>
</section>
