<div class="content with-sidebar blog post">
  <h1><%- page.title %></h1>
  <h4>
    <button id="toc-button" class="toc-button">隐藏文章目录</button>
    &nbsp;&nbsp;
    <%- page.date.format('YYYY-MM-DD') %>
  </h4>
  <%- page.content %>
</div>

